.profile {
  width: 100%;
  background-color: rgb(232, 152, 5);
  background-image: url(../images/arabesque.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  color: white;
}

.profile h2 {
  font-weight: 300;
}
.profile h2 strong {
  font-weight: 600;
}


