header {
  width: 100%;
  background-color: rgb(232, 152, 5);
  background-image: url(../images/arabesque.png);
  display: flex;
  align-items: center ;
  justify-content: center;
}

.user-name {
  display: flex;
  justify-self: center;
}


