.new-tweet {
  display: flex;
  flex-direction: column;
  
}

#error {
  display: none;
  width: 100%;
  padding: 15px;
  border: 5px solid red; 
  margin-top: 2em;
  color: red;
  
}

.tweet-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2em;
}
#tweet-text {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 5px solid;
  margin-bottom: 15px;
  padding: 10px;
  font-size: large;
}
.tweet-submit {
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  font-family: "Bungee" ;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

.counter.negative-count {
  color: red;
}